/*............ start timeline................*/
.dott {
    font-size: 20px;
    padding-bottom: 20px;
}
.news-feed-text {
    margin: 12px 0;
    background-color: white;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 1px gray;
}
.pro-pic {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.nf-pro-privacy {
    background-image: url('../images/privacy.JPG');
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.nf-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nf-1-left {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nf-pro-time-privacy {
    display: flex;
}
.nf-pro-name-time {
    margin-left: 5px;
}
.nf-pro-name {
    color: #365899;
    font-size: 12px;
    font-weight: 600;
}
.nf-pro-time-privacy {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.nf-pro-time {
    font-size: 10px;
    color: gray;
}
.nf-1-right-dott {
    font-size: 20px;
    font-weight: 600;
    margin-top: -20px;
    cursor: pointer;
}
.nf-2-text {
    margin: 10px 0;
}
.nf-3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
    margin-top: 5px;
}
.post-option-details {
    position: absolute;
    font-size: 12px;
    color: #0000009e;
    background-color: white;
    padding: 5px 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px grey;
}
.post-option-details ul li {
    margin-top: 5px;
    font-size: 12px;
    padding: 3px 5px;
    border-radius: 3px;
}
.post-option-details ul li:hover {
    background-color: lightgray;
}
.post-option-details ul {
    margin: 5px;
}
.likeReact {
    background-image: url('../images/likeReact.JPG');
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.nf-3-react-username {
    font-size: 12px;
    color: gray;
}
.nf-4 {
    height: 42px;
    border-bottom: 1px solid lightgray;
    font-size: 14px;
    color: gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ra {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.like-action-icon img {
    margin-top: 5px;
    margin-right: 3px;
}
.comment-action-icon img {
    margin-top: 5px;
    margin-right: 3px;
}
.share-action-icon img {
    margin-right: 3px;
}
.nf-5 {
    margin: 10px 0;
}
.main-icon-css {
    height: 35px;
    width: 35px;
    /*                            padding: 0 5px;*/

    cursor: pointer;
    position: absolute;
}
.main-icon-css:hover {
    height: 42px;
    width: 42px;
    /*                            padding: 0 5px;*/

    transform: rotate(30deg);
    transition: 0.2s;
    cursor: pointer;
    position: absolute;
}
.com-main-icon-css {
    height: 35px;
    width: 35px;
    /*                            padding: 0 5px;*/

    cursor: pointer;
    position: absolute;
}
.com-main-icon-css:hover {
    height: 42px;
    width: 42px;
    /*                            padding: 0 5px;*/

    transform: rotate(30deg);
    transition: 0.2s;
    cursor: pointer;
    position: absolute;
}
.like_focus {}
.com-pro-text {
    color: black;
    font-size: 12px;
    background-color: #f2f3f5;
    padding: 10px;
    border-radius: 20px;
}
.com-pro-pic {
    margin-right: 5px;
    align-self: self-start;
}
.com-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.com-react {
    color: #365899;
    font-size: 10px;
    font-weight: 300;
    display: flex;
    margin-left: 10px;
}
.com-like-react {
    margin-right: 10px;
}
.comment-write {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.com-time {
    font-size: 10px;
    color: gray;
    margin-left: 10px;
}
.com-input {
    width: 100%;
    background-color: #f2f3f5;
    display: flex;
    border-radius: 25px;
    border: 1px solid #8672723d;
}
.comment-input-option {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 25%;
}
.comment-input-style {
    width: 100%;
    border: none;
    height: 15px;
    background-color: #f2f3f5;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    padding: 8px;
    font-size: 12px;
    border-bottom: 1px solid #8080800f;
}
ul.add-comment {
    padding-left: 0;
    margin-top: 0;
}
li.new-comment {
    margin-top: 10px;
}
.com-like-action-text {
    cursor: pointer;
}
.com-react-placeholder-wrap.align-middle {
    position: relative;
}
.com-nf-3.align-middle {
    position: absolute;
    right: 0;
    margin-right: -8px;
    margin-top: 10px;
    background-color: white;
    padding: 2px 3px;
    box-shadow: 0px 0px 3px grey;
    border-radius: 10px;
    bottom: -22px;
}
.com-dot-option-wrap {
    position: relative;
}
.com-dot-opton {
    position: absolute;
}
.com-option-details {
    position: absolute;
    font-size: 12px;
    color: #0000009e;
    background-color: white;
    padding: 5px 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px grey;
}

/*...Reply Start...*/
.com-reply-action {
    cursor: pointer;
}
.com-pro-wrap {
    width: 100%;
}
.com-text-react-wrap {
    width: fit-content;
}
.com-option-details ul li:hover {
    background-color: lightgray;
}
.com-option-details ul li {
    margin-top: 5px;
    font-size: 12px;
    padding: 3px 5px;
    border-radius: 3px;
    cursor: pointer;
}
.reply-wrap {
    width: 100%;
}
.reply-write {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.reply-input {
    width: 100%;
    background-color: #f2f3f5;
    display: flex;
    border-radius: 25px;
    border: 1px solid #8672723d;
}
.reply-input-style {
    width: 100%;
    border: none;
    height: 15px;
    background-color: #f2f3f5;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    padding: 8px;
    font-size: 12px;
    /*    border-bottom: 1px solid #8080800f;*/
}
.reply-like-action-text {
    cursor: pointer;
}
.reply-main-icon-css {
    cursor: pointer;
}
.reply-dot-option-wrap {
    position: relative;
}
.reply-dot-opton {
    position: absolute;
}
.reply-option-details {
    position: absolute;
    font-size: 12px;
    color: #0000009e;
    background-color: white;
    padding: 5px 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px grey;
}
.reply-option-details ul li:hover {
    background-color: lightgray;
}
.reply-option-details ul li {
    margin-top: 5px;
    font-size: 12px;
    padding: 3px 5px;
    border-radius: 3px;
    cursor: pointer;
}
.edit-post-close {
    cursor: pointer;
}

/*...Reply end...*/


/*...Block...*/

.block-wrap{
    position:relative;
}
.block-action{
    margin-top:5px;
}
.block-show{
    position: absolute;
    background-color: white;
    color: gray;
    font-size: 12px;
    padding: 10px 15px;
    box-shadow: 0 0 3px;
    margin-top: -3px;
    width: 60px;
    cursor: pointer;
}

/*...Block end...*/
/*................ end timeline.............*/